<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjy329.wshiro.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.wjy329.wshiro.entity.User">
        <id property="uid" jdbcType="INTEGER" column="uid"/>
        <result property="username" jdbcType="VARCHAR" column="username"/>
        <result property="password" jdbcType="VARCHAR" column="password"/>
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="cname" jdbcType="VARCHAR" property="cname" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
    </resultMap>

    <sql id="Base_Column_List">
        uid, username, password, email, create_time, last_login_time, status,cname,salt
    </sql>

    <select id="findByUsername" parameterType="String" resultMap="BaseResultMap">
      SELECT u.*
      FROM user u
      WHERE u.username = #{username}
    </select>


    <select id="getUserByEmail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.wjy329.wshiro.entity.User">
        <selectKey keyProperty="uid" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (username,cname, email, password,
        create_time, last_login_time, status,salt
        )
        values (#{username,jdbcType=VARCHAR},#{cname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        sysdate(), #{lastLoginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},#{salt,jdbcType=VARCHAR}
        )
    </insert>

    <select id="getAllCnt"  resultType="java.lang.Integer">
        select count(uid) from user
    </select>

    <select id="getCntByUsername"  resultType="java.lang.Integer">
        select count(uid) from user where username like #{username,jdbcType=VARCHAR} OR cname LIKE  #{username,jdbcType=VARCHAR}
    </select>


    <select id="queryAllUser"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        order by uid desc
    </select>


    <select id="queryPage"  parameterType="com.wjy329.wcommon.dto.PageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        order by uid desc
        <if test="page.limit != null">
            <if test="page.offset != null">
                limit ${page.offset}, ${page.limit}
            </if>
            <if test="page.offset == null">
                limit ${limit}
            </if>
        </if>
    </select>


    <select id="queryPageByName"  parameterType="com.wjy329.wcommon.dto.PageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user where username like #{username,jdbcType=VARCHAR} OR cname LIKE  #{username,jdbcType=VARCHAR}
        order by uid desc
        <if test="page.limit != null">
            <if test="page.offset != null">
                limit ${page.offset}, ${page.limit}
            </if>
            <if test="page.offset == null">
                limit ${limit}
            </if>
        </if>
    </select>

    <!-- 通过主键来获取用户信息 -->
    <select id="getUserByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where uid = #{uid,jdbcType=INTEGER}
    </select>

    <update id="updateUser" parameterType="com.wjy329.wshiro.entity.User">
        update user
        set username = #{username,jdbcType=VARCHAR},
        cname = #{cname,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR}
        where uid = #{uid,jdbcType=INTEGER}
    </update>

    <update id="updateStatus" parameterType="com.wjy329.wshiro.entity.User">
        update user
        set status = #{status,jdbcType=INTEGER}
        where uid = #{uid,jdbcType=INTEGER}
    </update>

    <delete id="delUserByIds" parameterType="java.util.List" >
        delete from user
        where uid in
        <foreach collection="list" item="uid" index="index"
                 open="(" close=")" separator=",">
            #{uid,jdbcType=INTEGER}
        </foreach>
    </delete>

</mapper>